.shelf {
  margin: 16px 0;
}

.shelf__title {
  margin: 0 0 18px 0;
}

.shelf__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shelf__list.shelf__list--nowrap {
  overflow: auto;
  grid-auto-flow: column;
  scrollbar-color: #d9d9d9 transparent;
  padding-bottom: 1.5em;
}

.shelf__list.shelf__list--nowrap::-webkit-scrollbar {
  height: 5px;
}

.shelf__list.shelf__list--nowrap::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

@media screen and (min-width: 480px) {
  .shelf__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(193px, 1fr));
    row-gap: 1.25em;
    column-gap: 1.25em;
  }
}
