:root {
  background-color: #000000;
  color-scheme: only dark;

  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: normal;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --bg-primary: #0ea5e9;
  --bg-secondary: #050e12;
  --color-secondary: #b6b6b6;
  --color-gray: #828282;
}

body {
  margin: 0;
  padding: 0;
}

.main__content {
  width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

/* Font Families */
.font-inter--regular {
  font-family: var(--font-inter);
  font-weight: 400;
}

.font-inter--bold {
  font-family: var(--font-inter);
  font-weight: 700;
}

.font-poppins--semibold {
  font-family: var(--font-poppins);
  font-weight: 600;
}

.font-poppins--regular {
  font-family: var(--font-poppins);
  font-weight: 400;
}

.font-poppins--bold {
  font-family: var(--font-poppins);
  font-weight: 700;
}

.font-poppins--black {
  font-family: var(--font-poppins);
  font-weight: 900;
}

.font-roboto--bold {
  font-family: var(--font-roboto);
  font-weight: 700;
}

.font-roboto--black {
  font-family: var(--font-roboto);
  font-weight: 900;
}

/* --------------- */

@media screen and (min-width: 1600px) {
  .main__content {
    width: 1600px;
  }
}
